*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(82, 151, 151);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

:root{
        --darkBlue: #101022;
        --bannerClr: #539dff;
        --greenMln: #118f74;
        --pltColorTwo: #77d6e7;
}

/*navegtion bar*/

header{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 11.5%;
    z-index: 1000;
    transition: 0.6s;
}

.btns{
    display: none;
}

.log-cnt_rw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
}

.logo_ttl{
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav_txt{
    letter-spacing: 1.5px;
    font-size: 1.1em;
}

.alingTxt{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-logo{
    position: relative;
    border-radius: 9vh;
    width: 100%;
    margin-left: -5px;
    height: 65%;
}

.nav_bar{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_bar ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-right: 2pc;
}

.nav_bar ul li a{
    text-decoration: none;
    color: #f0f8ff;
    transition: 0.6s;
}

.nav_bar ul li a:hover{
    text-decoration: underline;
}

.sticky{
    background-color: rgb(65, 92, 167);
    height: 7.5%;
}

.sticky .log-cnt_rw, 
.sticky ul li a{
    color: #f0f8ff;
}

.sticky .img-logo{
    width: 75%;
    margin-left: 0px;
}















/*img background*/



.profileBox{
    height: 100vh;
    display: flex;
    text-align: center;
}

.txtProf{
    position: absolute;
    top: 12%;
    left: 6%;
}

.profileBox h1{
    font-size: 100px;
}

.profileBox img{
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 60%;
    z-index: -1000000;
}


.footertxt{
    position: relative;
    text-align: end;
    width: 96%;
    z-index: 100;
    font-size: 150%;
    margin-bottom: 3%;
}

.footertxt h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

.wavesprf{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: auto;
    height: auto;
    width: 100%;
}

.wave1{
    width: 55%;
    right: 0;
}

/********************************************************/




.pageFunt{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(62, 25, 113),rgb(72, 105, 206));
    background-image: linear-gradient(45deg, rgba(130, 89, 219, 0.2),rgba(44, 192, 226, 0.2),rgba(182, 103, 181, 0.2)),linear-gradient(135deg, rgb(39, 20, 149),rgb(65, 82, 185),rgb(91, 144, 220));

    .box{
        align-items: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3{
            font-size: 220%;
        }

    }
}

.pageFunt .linkVd{
    text-decoration: none;
    background-color: #0000ff;
    padding: 1.2% 6%;
    border-radius: 30px;
    color: #fff;
}

.pageFunt .linkVd:hover{
    background-color: #2626ca;
}

.svgCtn svg{
    position: absolute;
    width: 20pc;
    bottom: 0;
    right: 3%;
}

















/****************************************************************/



.lineBlr {
    position: relative;
}

.lineBlr::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -9PX;
    width: 100%;
    height: 10px;
    background-color: #539dff;
    filter: blur(5px);
}


/*banne*/


.banner{
    display: flex;
    flex-direction: column;
    /*background-color: var(--bannerClr);*/
    background: linear-gradient(180deg,#539dff 60%,#77d6e7);
}

.banner .appInfo_Sai{
    height: 30pc;
    text-align: center;
    align-content: center;
}

.banner .imgMedic_ctn{
    width: 45%;
    margin-top: 370px;
    left: 35%;
    position: absolute;
}

.banner .imgMedic_ctn img{
    width: 70%;
}

.banner .appInfo_Sai .ttlFrstQst{
    font-size: 450%;
}

.banner .appInfo_Sai .Frstxt{
    font-size: 130%;
    font-weight: 550;
}

.banner .mrInfApp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner .mrInfApp .txt_mng{
    padding: 6%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner .mrInfApp .txt_cnt h3{
    margin-bottom: 5%;
    font-size: 300%;
}

.banner .mrInfApp .txt_cnt p{
    font-size: 120%;
}

.banner .mrInfApp .txt_cnt{
    position: relative;
    width: 80%;
    height: 80%;
    top: 10%;
    text-align: center;
    align-content: center;
}












/*footer*/

.footer-ctn{
    background-color: #101022;
    bottom: 0;
}

.footer-ctn .footer-ctn_hdr{
    padding: 1.5%;
}

.footer-ctn .footer-ctn_hdr .ftr_hdr_terms li{
    list-style: none;
    display: inline-block;
    margin-left: 3%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}


.footer-ctn .footer-ctn_hdr .ftr_hdr_terms li a{
    text-decoration: none;
    color: #0000ff;
}

.footer-ctn .footer-ctn_hdr .ftr_hdr_terms li a:hover{
    color: #5252d6;
}


.footer-ctn .info-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.footer-ctn .info-ctn .nameApp{
    font-size: 300%;
    letter-spacing: 2px;
    margin-bottom: 1.5%;
}

.footer-ctn .info-ctn .app_lst-ctn ul li{
    list-style: none;
    display: inline-block;
    font-size: 200%;
    margin: 0 1.5% 1.5% 2%;
}

.footer-ctn .info-ctn .app_lst-ctn ul li a{
    color: #f0f8ff;
}

.footer-ctn .info-ctn .app_lst-ctn ul .fcb a:hover{
    color: #0000ff;
}

.footer-ctn .info-ctn .app_lst-ctn ul .wht a:hover{
    color: #21b828;
}

.footer-ctn .info-ctn .app_lst-ctn ul .ytb a:hover{
    color: #d41515;
}

.footer-ctn .info-ctn .ubi-ctn span{
    margin-bottom: 10px;
}

.footer-ctn .info-ctn .dnwl_app-ctn ul li{
    list-style: none;
    display: inline-block;
}

.footer-ctn .info-ctn .dnwl_app-ctn ul li img{
    width: 120px;
}

.footer-ctn .info-ctn .end_ftr{
    font-size: 12px;
    opacity: 80%;
    color: #5a5656;
}



/*Phone capacity*/

@media (max-width: 768px){
    .btns{
        display: block;
    }

    .nav_bar .first-list span{
        display: none;
    }

    .nav-container{
        height: 90px;
    }

    .nav-container .log-cnt_rw{
        width: 30%;
    }

    .nav-container .log-cnt_rw img{
        width: 200%;
    }

    .nav-container .log-cnt_rw .logo_ttl{
        position: relative;
        left: 100%;
    }


    .nav-container .nav_bar .btns{
        height: 100%;
        width: 100px;
        font-size: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_bar .first-list{
        background-color: #5292a5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        left: 100%;
        margin: 0;
        width: 100%;
        position: fixed;
        height: calc(100% - 90px);
        top: 90px;

        transition: left 0.3s;
    }

    .sticky .img-logo{
        width: 75%;
        margin-left: -5px;
    }

    /**//**//**//**/

    .banner .mrInfApp .txt_mng{
        flex-basis: 750px;
    }

    .banner .imgMedic_ctn{
        width: 45%;
        margin: auto;
        margin-top: 240px;
        opacity: 30%;
        z-index: 10;
        margin-left: -40px;
    }
    
    .banner .imgMedic_ctn img{
        width: 110%;
        /*object-fit: fill;*/
    }
    
    /************************************************************/

    .pageFunt{
        .box{
            h3{
                font-size: 120%;
            }

            iframe{
                width: 16pc;
                height: 26pc;
            }
        }
    }
    
    .pageFunt .linkVd{
        padding: 2% 6%;
        border-radius: 30px;
        font-size: 110%;
        color: #fff;
    }
    
    .pageFunt .linkVd:hover{
        background-color: #2626ca;
    }
    
    .svgCtn svg{
        width: 12pc;
    }
    




    /*/***/

    .txtProf{
        font-size: 100%;
        text-align: start;
        width: 60%;
        top: 15%;
    }

    .txtProf h1{
        font-size: 450%;
    }

    .profileBox img{
        left: -100%;
        width: 340%;
    }

    .footertxt{
        position: absolute;
        bottom: 3%;
        margin-bottom: -6%;
        right: 2%;
        z-index: 100;
        width: 60%;
    }
    
    .footertxt h4{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100%;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    .wave1{
        width: 105%;
    }

    /*/*//****//***/


    .footer-ctn .footer-ctn_hdr .ftr_hdr_terms li{
        margin-left: 10%;
        padding: 10px;
        padding-bottom: 10px;
    }

    .footer-ctn .info-ctn .nameApp{
        margin: 2.5% 0 2.5% 0;
    }
    
    .footer-ctn .info-ctn .app_lst-ctn ul li{
        font-size: 180%;
        margin: 0 1.5% 1.5% 2%;
    }

    .footer-ctn .info-ctn .app_lst-ctn {
        margin-bottom: 2.5%;
    }
    
    .footer-ctn .info-ctn .dnwl_app-ctn ul li{
        list-style: none;
        display: inline-block;
    }
    
    .footer-ctn .info-ctn .dnwl_app-ctn ul li img{
        width: 120px;
    }
    
    .footer-ctn .info-ctn .end_ftr{
        font-size: 12px;
        opacity: 80%;
        color: #5a5656;
    }
}


@media (max-width: 767px){
    

    /*/*//****//***/
    .footertxt{
        margin-bottom: -1%;
        margin-right: 10%;
        font-size: 90%;
    }

    .footer-ctn .footer-ctn_hdr .ftr_hdr_terms li{
        margin-left: 3%;
        padding: 10px;
        padding-bottom: 10px;
    }


   
    
    /**//*//////////*/

    .banner .appInfo_Sai{
        height: 20pc;
    }

    .banner .appInfo_Sai .ttlFrstQst{
        font-size: 200%;
    }

    .banner .appInfo_Sai .Frstxt{
        font-size: 100%;
        font-weight: 550;
    }

    .banner .mrInfApp .txt_mng{
        flex-basis: 750px;
    }
    .banner .mrInfApp .txt_cnt h3{
        font-size: 200%;
    }

    .banner .mrInfApp .txt_cnt p{
        font-size: 90%;
        text-align: center;
    }

    .banner .mrInfApp .txt_cnt{
        width: 110%;
        height: 100%;
        padding: 10px;
    }

    /***************************************/

    .footertxt{
        bottom: -5%;
    }
}

.blockft{
    display: block;
    left: 0!important;
}

.bckScroll{
    background-color: rgb(65, 92, 167);
}
